body{
    margin: 0;
    font-family: fantasy;
}
header{
    background-image:url(https://cdn.pixabay.com/photo/2022/02/18/14/15/basketball-background-7020782_960_720.png);
    background-size: 100px;
    background-size: cover;
    padding: 30px 20px; 
    
}
header nav {
width: 100px;
max-width: 1200px;
margin:0 auto;
position: relative;
box-sizing: border-box;
padding:0 20px 0 100px ;

}
header nav svg{
width: 100px;
fill: white;
stroke: white;
position: absolute;
top: 30px;
left: -400px;

}

header nav svg{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 30px;
    transition: 1s;
}
header nav a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 30px;
    transition:1s ;
}

header nav a:hover{
    color: red;
}