:root{
    --blue: #1e90ff;
    --container-width: 1200px; 
    /* kai reikia visam kode pazymeti kazka kad viskas keistusi visam kode. du bruksneliai ir irasyt, spalva cia rasem ir puslapio dydi. Pasikartojantys dalykai keisis visam kode. */
    --trans: all 0.4s;
    --rabit-color: orange;

}
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:"Oswald", sans-serif;
}
header{
    background-color: lightblue;
    padding: 30px 20px;
    /* padding atstumas dezutes viduje nuo dezutes krasto.praplecia vidu elemento, siuo atveju header. kad vietos daugiau viduje butu kur teksta rasyti */
}
 header nav{
    width: 100%;
    max-width: var(--container-width);
    /* nurodom prie max width var ir i var vidu irasom tai kas vienodai daugelyje kodo vietu. var kartu susijungia su tuo virsuje su bruksniukais */
    margin: 0 auto;
    position: relative;
    /* realitive position reikia pasizymeti, kai i to vidu dedam logo arba foto. kad zinoti nuo kur stumdymus logo/foto daryti reikes
     */
    box-sizing: border-box;
    padding:0 20px 0 100px;

 }
    
    header nav svg {
        width: 100px;
        fill: white;
        /* widht logo dydis, fill - fonas logo */
        /* su fill visa logo spalvinam, su stroke spalvinam krastines */
        position: absolute;
        /* absoliuti pozicija neturi ismatavimu. nedaro jokios itakos konteineriui kuriame yra  */
        top: -28px;
        left: -20px;
    }

header nav a {
    color: white;
    text-decoration: none;
    /* text decoration none nuima bruksneli apacioje */
    margin-right: 20px;
    font-size: 30px;
    transition: var(--trans);
    /* transition rodo kad pasikeitimas spalvos trunka 1.3 sekundes. spalva pakeicia per tam tikra laika */ 
    /* i transition parasiau all kad viskas keisis per o,4 sekundes */

}
header nav a:hover{
    color: var(--rabit-color);
    /* hover padaro, kaip pasikeicia elementas kai ant jo uzeina pelyte */
}

.hero{
    width:100%;
    height: calc(100vh - 104.5px);
    /* 100vh yra visas puslapis, minus header padarem, kad nesiskrolintu puslapis */
    position: relative;
    font-size: 0;
    overflow: hidden;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: forest;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: scale(1);
    filter: brightness(1);
}
@keyframes forest {
    0% {
        transform: scale(1);
        filter: brightness(1);
    }
    93% {
        filter: brightness(1);
    }
    99% {
        transform: scale(2);
        filter: brightness(0.05);
    }
    99.5% {
        transform: scale(1);
        filter: brightness(0.05);
    }
    100% {
        transform: scale(1);
        filter: brightness(1);
    }
}


.hero-text {
    width: 100%;
    position: absolute;
    bottom: 120px;
    left: 0;
}

.hero-text-holder {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.hero-text-bg {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px;
    border-radius: 40px;
    display: inline-block;
    box-sizing: border-box;
}
 
.hero-text h1 {
    font-size: 60px;
    color: var(--blue);
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 20px;
}
 
.hero-text p {
    font-weight: 200;
    font-size: 20px;
    color: white;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 20px;
    
}
.stats{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
}
.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify contet ligiuojasi ir align items irgi lygiuojasi. stulpeliuose justify lygiuojasi, align - ailuteje */
    border-top: 1px solid gray;
    border-bottom:  1px solid grey;
    padding: 20px;
    width: 100%;
    max-width: 280px;
    min-width: 230px;
}
.stats-bin{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    max-width: var(--container-width);
    display: flex;
    padding: 0 30px;
    justify-content: center;
    flex-direction: row;
    column-gap: 30px;
    /* column gap tarpas tarp stulpeliu, kad isiktu mazejant ekranui */
    flex-wrap: wrap;
    /* flext wrap reikalingas tam kad nusoktu i apatine eilute mazejant ekranui */
    row-gap: 50px;
}

.stats h4{
    font-size: 60px;
    color: var(--blue);
    margin: 0;
}
.stats p{
    font-size: 20px;
    color: grey;
    margin: 0;
    text-align: center;
}
.box-content-left svg{
    width: 100px;
    height: 100px;
}
.boxes{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;

}
.boxes .boxes-bin{
    width: 100%;
    max-width: var(--container-width);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.boxes .boxes-bin .boxes-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;

}

@media screen and (max-width: 1280px)  {
    .boxes .boxes-bin .boxes-content{
        padding: 0 20px;
    }
}
.boxes .boxes-bin .boxes-content .box{
    width: 30%;
    border: 1px solid #dedede;
    border-radius: 40px;
    padding: 10px;

}
@media screen and (max-width: 1280px)  {
    .boxes .boxes-bin .boxes-content .box{
        width: 47%;
    }
}
@media screen and (max-width: 700px)  {
    .boxes .boxes-bin .boxes-content .box{
        width: 100%;
    }
}

.boxes .boxes-bin .boxes-content .box h3{
    margin: 10px 0 30px 0;
    text-align: center;
}
.boxes .boxes-bin .boxes-content .box .box-content{
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.boxes .boxes-bin .boxes-content .box .box-content .box-content-right{
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.boxes-bin .boxes-bin .boxes-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.boxes .boxes-bin .boxes-header h2{
    font-size: 40px;
    color: var(--blue);
    margin: 0;
    text-align: center;
    padding: 0 20px;
}
.boxes .boxes-bin .boxes-header p{
    font-size: 20px;
    color: grey;
    text-align: center;
}
.boxes .boxes-bin .boxes-content div:nth-child(1) .box-content .box-content-left svg{
fill: crimson;
}
.boxes .boxes-bin .boxes-content div:nth-child(2) .box-content .box-content-left svg{
    fill: lightgreen;
}
.boxes .boxes-bin .boxes-content div:nth-child(3) .box-content .box-content-left svg{
    fill: lightpink;
}
.boxes .boxes-bin .boxes-content div:nth-child(4) .box-content .box-content-left svg{
    fill: lightseagreen;
}
.boxes .boxes-bin .boxes-content div:nth-child(5) .box-content .box-content-left svg{
    fill: lightcoral;
}
.boxes .boxes-bin .boxes-content div:nth-child(6) .box-content .box-content-left svg{
    fill: lightseagreen;
}
.boxes .boxes-bin .boxes-content div:nth-child(1):hover .box-content .box-content-left svg path:nth-child(3){
fill: grey;
}
.boxes .boxes-bin .boxes-content div:nth-child(3):hover .box-content .box-content-left svg path:nth-child(3){
fill: gold;
}


.slider{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.slider .slider-bin{
    width: 100%;
    max-width: var(--container-width);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slider .slider-bin input{
   display: none;
}

.slider .slider-bin .slider-controls{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
    gap: 10px;
}

.slider .slider-bin .slider-controls label{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
    cursor: pointer;
    transition: all 0.4s;
}

.slider .slider-bin .slider-wrapper{
    width: 100%;
    overflow: hidden;
   
}

.slider .slider-bin .slider-container{
    width: 400%;
    display: flex;
    transform: translateX(-75%);
    transition: all 0.8s ease-in-out;
}

.slider .slider-bin .slider-wrapper .slider-container .slide{
    width: 100%;
    display: flex;
    max-height: 300px;
    padding: 30px;
    background-color: var(--blue);
    border-radius: 40px;
    column-gap: 60px;
} 
.slider .slider-bin .slider-wrapper .slider-container .slide-left{
    width: 80%;
    
} 
.slider .slider-bin .slider-wrapper .slider-container .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.slider .slider-bin .slider-wrapper .slider-container .slide p{
color: white;

}
#slide1:checked + input + input +input + .slider-wrapper .slider-container{
    transform: translateX(0);
}
#slide2:checked + input +input + .slider-wrapper .slider-container{
    transform: translateX(-25%);
}
#slide3:checked +input + .slider-wrapper .slider-container{
    transform: translateX(-50%);
}
#slide4:checked + .slider-wrapper .slider-container{
    transform: translateX(-75%);
}
#slide1:checked + input + input + input + .slider-wrapper  + .slider-controls label:nth-child(1) {
    background-color: var(--blue);
}
#slide2:checked + input + input + .slider-wrapper + .slider-controls label:nth-child(2) {
    background-color: var(--blue);
}
 
#slide3:checked + input + .slider-wrapper + .slider-controls label:nth-child(3) {
    background-color: var(--blue);
}
 
#slide4:checked + .slider-wrapper + .slider-controls label:nth-child(4) {
    background-color: var(--blue);
}