* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  .counterAppContainer {
    background-color: #005490;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    
    hr{
        width: 90%;
    }
    .count{
        font-size: 25px;
        color: white;
    }
    h1{
        color: white;
        font-size: 32px;
    }
  }
}
button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease;
}
.buttonsContainer{
    display: flex;
    gap: 15px;
    .subtract{
        background-color: orangered;
        color: white;
        &:hover{
            background-color: white;
            color: orangered;
        }
    }
    .reset{
        background-color: white;
        &:hover{
            background-color: black;
            color: white;
        }
    }
    .add {
        background-color: limegreen;
        color: white;
        &:hover{
            background-color: white;
            color: limegreen;
        }
    }
}
